
*.xcuserstate

iPark/iPark\.xcodeproj/project\.xcworkspace/xcuserdata/johan\.xcuserdatad/

iPark/iPark/\.DS_Store

iPark/iPark/DAOs/\.DS_Store

iPark/iPark\.xcodeproj/xcuserdata/johan\.xcuserdatad/xcdebugger/

iPark/iPark/Assets\.xcassets/\.DS_Store
